<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['students']">
            Students
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Add Students
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
