<h2>სტუდენტების სია</h2>
<br>
<table class="table table-hover" *ngIf="students">
  <thead class="thead-dark">
  <tr>
    <th>სახელი</th>
    <th>გვარი</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let student of students | async"
    [routerLink]="[student.id]">
    <td>{{student.name}}</td>
    <td>{{student.surname}}</td>
  </tr>
  </tbody>
</table>
