<div *ngIf="student$ | async as student">
  <h2>{{student.name}}</h2>
  <br>
  <table class="table table-dark table-striped">
    <tbody>
    <tr>
      <td>სახელი</td>
      <td>{{student.name}}</td>
    </tr>
    <tr>
      <td>გვარი</td>
      <td>{{student.surname}}</td>
    </tr>
    <tr>
      <td>ასაკი</td>
      <td>{{student.age}}</td>
    </tr>
    </tbody>
  </table>
</div>

